{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for cafe in all_cafes %}

        <div class="col">
          <div class="card shadow-sm">
            <img src=" {{ cafe['picture_url'] }} " height="300px"  alt="...">

              <div class="card-body">
                <h5 class="h5"> {{cafe['name']}} </h5>
              <p class="card-text">{{ cafe['city'] }} : {{ cafe['address'] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                    <a href="https://www.google.com/maps/@{{ cafe['lat'] }},{{ cafe['long'] }},15z?entry=ttu" target="_blank">
                        <button type="submit"  class="btn btn-sm btn-outline-secondary" >View On Map</button></a>

                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
